<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-signin' }) do |f| %>
  <h2 class="form-signin-heading">Resend confirmation instructions</h2>

  <%= bootstrap_flash %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <%= f.text_field :email, :required => true, autofocus: true, class: 'form-control', placeholder: 'Email' %>

  <%= f.button :submit, "Resend confirmation instructions", :class => 'btn btn-large btn-primary' %>
  <hr>
  <%= render "devise/shared/links" %>
<% end %>
