<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'form-signin', :method => :post }) do |f| %>
  <h2 class="form-signin-heading">Forgot your password?</h2>

  <%= bootstrap_flash %>
  <%= f.error_notification %>

  <%= f.text_field :email, :required => true, autofocus: true, class: 'form-control', placeholder: 'Email' %>

  <%= f.button :submit, "Send me reset password instructions", :class => 'btn btn-large btn-primary' %>
  <hr>
  <%= render "devise/shared/links" %>
<% end %>