<!DOCTYPE html>
<html lang="en" class="tulos">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Tulos</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar hidden-print" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Tulos', worlds_path, :class => 'navbar-brand' %>
      </div>
      <div class="navbar pull-right">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Worlds', worlds_path %></li>
          <li><%= link_to 'People', users_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= bootstrap_flash %>
      </div>
    </div>

    <%= yield %>

    <hr class="hidden-print">

    <footer class="footer hidden-print">
      <p class="pull-left text-muted">&copy; Tampere University of Technology, AMC</p>

      <p class="pull-right text-muted">
        <% if user_signed_in? %>
        Logged in as <%= current_user.first_name %> <%= current_user.last_name %>.
        <% end %>
      </p>
    </footer>
  </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
