<div class="row">
  <div class="col-sm-12">
    <h1>Person</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Teacher</th>
          <th>Groups</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.first_name %> <%= @user.last_name %></td>
          <td><%= @user.username %></td>
          <td><%= @user.email %></td>
          <td style="padding-left: 25px;">
            <% if @user.teacher? %>
            <span class="glyphicon glyphicon-ok"></span>
            <% end %>
          </td>
          <td>
            <% @user.groups.each do |group| %>
            <span class="label label-primary"><%= link_to group.name, u_path(:tag => group.name) %></span>
            <% end %>
          </td>
          <td><%=l @user.created_at %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'Edit Person', edit_u_path(@user), :class => 'btn btn-primary' %>
  <%= link_to 'Back', u_index_path, :class => 'btn btn-default' %>
</div>
