<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-signin' }) do |f| %>
  <h2 class="form-signin-heading">Edit User</h2>

  <%= bootstrap_flash %>
  <%= f.error_notification %>

  <%= f.text_field :email, :required => true, autofocus: true, class: 'form-control', placeholder: 'Email' %>

  <%= f.text_field :username, :required => true, class: 'form-control', placeholder: 'Username' %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <%= f.password_field :password, class: 'form-control', placeholder: 'Password', :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.password_field :password_confirmation, :required => false, class: 'form-control', placeholder: 'Password confirmation' %>

  <%= f.password_field :current_password, :hint => "we need your current password to confirm your changes", :required => true, class: 'form-control', placeholder: 'Current Password' %>

  <%= f.button :submit, "Update", :class => 'btn btn-large btn-primary' %>
  <hr>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

  <%= link_to "Back", :back %>
<% end %>





