<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game_event.user %>
</p>

<p>
  <strong>World:</strong>
  <%= @game_event.world %>
</p>

<p>
  <strong>Movement:</strong>
  <%= @game_event.movement %>
</p>

<p>
  <strong>Health:</strong>
  <%= @game_event.health %>
</p>

<%= link_to 'Edit', edit_game_event_path(@game_event) %> |
<%= link_to 'Back', game_events_path %>
