<div class="row">
  <div class="col-sm-12">
    <h1>Game Event</h1>

    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>World</th>
          <th>Movement</th>
          <th>Health</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @game_event.user.first_name %> <%= @game_event.user.last_name %></td>
            <td><%= @game_event.world.title %></td>
            <td><%= @game_event.movement %></td>
            <td><%= @game_event.health %></td>
            <td><%=l @game_event.created_at %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>Levels</h1>

    <% if @game_event.levels.blank? %>
    <%= render :partial => 'shared/empty' %>
    <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Format</th>
          <th>Solved</th>
          <th>Skip</th>
          <th>Trap</th>
          <th>Jumps</th>
          <th>Distance</th>
        </tr>
      </thead>

      <tbody>
        <% @game_event.levels.each do |level| %>
        <tr>
          <td>
            <% if level.level_type == 0 %>
            Single number
            <% elsif level.level_type == 1 %>
            Plus task
            <% elsif level.level_type == 2 %>
            Minus task
            <% end %>
          </td>
          <td>
            <% if level.level_format == 0 %>
            Fraction
            <% else %>
            Decimal
            <% end %>
          </td>

          <td><%= level.solved %></td>
          <td><%= level.skip %></td>
          <td><%= level.trap %></td>
          <td><%= level.jumps %></td>
          <td><%= level.distance %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <br>

    <%= link_to 'Edit Game Event', edit_game_event_path(@game_event), :class => 'btn btn-primary' %>
    <%= link_to 'Back', game_events_path, :class => 'btn btn-default' %>
  </div>
</div>

